@using LiquorStoreFinalProject.Areas.Admin.ViewModels.Category;
@using LiquorStoreFinalProject.Areas.Admin.ViewModels.Product;
@model CreateCategoryVM
@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">
    <h1>Create Category</h1>
    <form asp-controller="Category" asp-action="CreateCategiry" method="post" enctype="multipart/form-data">
        <div class="form-group mt-3">
            <label for="Name">Name</label>
            <input asp-for="Name" class="form-control" name="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label for="Image">Image</label>
            <input asp-for="Image" type="file" class="form-control" name="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>

</div>


